:root {
  /* color palette */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;

  /* formuls */
  --items: 3;
  --indent: 30px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Utils */

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  border: 1px solid #ececec;
  margin: 0;
  padding: 0;
}

.heeader-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */

.header-logo {
  color: #000000;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  align-items: center;
}

.header-logo-accent {
  color: var(--accent-color);
}

/* site navigation links  */

.header-nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 344px 0 0;
  padding: 0;
  width: 281px;
}

.header-nav-link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* contacts information */

.contacts-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.contacts-link {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* main */

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  text-align: center;
  flex-direction: column;
}

.hero-container {
  flex-direction: column;
}

.hero-title {
  color: var(--text-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--text-white-color);

  width: 216px;
  min-height: 40px;
  display: flex;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 22px;
  margin: 0;
}

/* Company skills  styles*/
.skills {
  margin: 0;
  padding: 0;
}

.skills-container {
  display: flex;
}

.skills-list {
  display: flex;
  gap: 30px;
  padding: 94px 0;
  }

.skills-item {
  width: calc(100% - 90px / 4);
}

.skills-title {
  color: var(--primary-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.skills-text {
  color: var(--secondary-text-color);

  line-height: 1.71;
}

/* work */
.work {
  margin: 0;
  padding: 0;
}

.work-container {
  display: flex;
  flex-direction: column;
}

.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  padding: 50px 0 94px 0;
  width: calc(100% - 60px / 3);
}

/* Our team */

.team {
  background-color: var(--secondary-background-color);
  padding: 0 0 50px 0;
  margin: 0;
}

.team-container {
  display: flex;
  flex-direction: column;
 }

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  padding: 188px 0 50px 0;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.text-content-wrapp {
  padding: 30px 0;
}

.team-item-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-item-text {
  margin: 0;
  text-align: center;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

/* footer-logo */

.footer-logo {
  color: var(--text-white-color);

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding: 60px 0 20px 0;
}
.footer-logo .logo-accent {
  color: var(--accent-color);
}

/* Contacts */

.address-link,
.footer-contacts-link {
  display: flex;
  text-decoration: none;
  margin-bottom: 9px;
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 60px;
  
  width:231px;
}

.address-link {
  color: var(--text-white-color);

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

/* NEW PAGE */
.filters-container {
  flex-direction: column;
}

/* Filters */

.filters-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  padding-top: 94px;
  padding-bottom: 34px;
  gap: 8px;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.button {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  border-radius: 4px;
  min-height: 40px;
  display: flex;
  padding: 6px 22px;
  margin: 0;
}
.button:hover,
.button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.active {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

/* Cards set */

.projects-list {
  padding: 0;
  margin: 0 0 94px 0;
  list-style: none;

  --items: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  border: 1px solid #eeeeee
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

.projects-title {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.89;
}
